* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

@font-face {
  font-family: Poppins;
  src: url(./../../fonts/Poppins-Regular.ttf);
}
body header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  background: #1c1e53;
}
body header .container .nav {
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header .container .nav .navigation #home {
  color: var(--White, #fff);
}
body header .container .nav .navigation a {
  color: #bbbbcb;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
body header .container .nav .navigation a:hover {
  color: #fff;
  transition: 0.5s linear ease-in-out;
}
body header .container .nav .navigation .btn {
  width: 185px;
  height: 60px;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  color: #fff;
  padding: 16px 48px;
  cursor: pointer;
}
body header .container .nav .navigation .btn:hover {
  border: 2px solid #bbbbcb;
  color: #fff;
}
body header .container .nav a:not(:last-child) {
  margin-right: 40px;
}
body main .build_hero {
  background: var(--Tint-blue, #1c1e53);
  height: 630px;
}
body main .build_hero .build_content {
  display: flex;
  padding-top: 126px;
  gap: 80px;
}
body main .build_hero .build_content .build_texts {
  display: flex;
  gap: 24px;
  flex-direction: column;
}
body main .build_hero .build_content .build_texts h1 {
  width: 420px;
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 74px;
}
body main .build_hero .build_content .build_texts p {
  width: 412px;
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
body main .build_hero .build_content .build_texts .build_btn {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 24px;
  justify-content: start;
}
body main .build_hero .build_content .build_texts .build_btn .build_btn2 {
  display: inline-flex;
  padding: 16px 56px;
  justify-content: center;
  align-items: center;
  border-radius: 41px;
  background: #fcd980;
}
body main .build_hero .build_content .build_texts .build_btn :nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: none;
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
body main .build_hero .build_img img {
  max-width: 578.5px;
  height: 361.115px;
  flex-shrink: 0;
  padding-top: 30px;
}
body main .view_hero {
  margin-bottom: 100px;
}
body main .view_hero .view_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 510px;
}
body main .view_hero .view_head h1 {
  width: 467px;
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}
body main .view_hero .view_head .view_btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 60px 0;
}
body main .view_hero .view_content {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 32px;
}
body main .view_hero .view_content .view_texts {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  background-image: url(./../images/home/Card_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 843px;
  height: 600px;
  flex-shrink: 0;
}
body main .view_hero .view_content .view_texts .view_text {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 16px;
  width: 396px;
  height: 600px;
  background-color: rgba(28, 30, 83, 0.6784313725);
}
body main .view_hero .view_content .view_texts .view_text h1 {
  padding-top: 320px;
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  width: 313px;
}
body main .view_hero .view_content .view_texts .view_text p {
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  width: 293px;
  margin-right: 15px;
}
body main .view_hero .view_content .view_texts .view_text a {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  padding-top: 20px;
}
body main .view_hero .view_content .view_texts .view_text .view_btn {
  color: var(--Yellow, #fcd980);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-right: 170px;
}
body main .view_hero .view_content .view_texts .view_text .view_btn img {
  color: #fcd980;
}
body main .view_hero .view_content .view_texts_right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}
body main .view_hero .view_content .view_texts_right .view_texts_first {
  display: flex;
}
body main .view_hero .view_content .view_texts_right .view_texts_first h1 {
  width: 200px;
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
body main .view_hero .view_content .view_texts_right .view_texts_first a {
  color: var(--Yellow, #fcd980);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
body main .view_hero .view_content .view_texts_right .view_texts_second img {
  margin-top: 20px;
}
body main .design_hero .design_head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body main .design_hero .design_head p {
  color: var(--Dark-blue, #282938);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
body main .design_hero .design_head h1 {
  width: 630px;
  color: var(--Dark-blue, #282938);
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}/*# sourceMappingURL=style.css.map */